
.navigation{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    margin: 0;
    padding: 0;
    background: #080E13;
}

.logo{
    position: absolute;
    left: 22px;
    top: 7px;
    width: 50px;
    height: 50px;
}

.title{

    /* sets distance for spacing */
    position: absolute;
    left: 91px;
    top: -22px;
    width: 424px;
    height: 42px;
    flex-shrink: 0; 


    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Space Grotesk";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


}


/* Sets style of Main Classes (Main section of information) */

.main {

    position: absolute; 
    width: 100%; 
    height: 100%; 
    z-index: -1;
    background: #EFF2F5;

}

.footer {

    position: fixed;
    left: 0;
    bottom: 0;

    height: 73px;
    width: 100%;
    flex-shrink: 0;

    z-index: 1; 
    background: #080E13;

}

.bottom {

    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Space Grotesk";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
}

.bottom-Text{

    left: 21px;
    bottom: 0px;

}

.rights-Reserved {

    bottom: 0px;
    right: 9px;

}

/* mainScreen Component */
.holdTimeDate{

    position: relative;
    width: 429px;
    height: 177px;

    top: 109px;
    left: 21px;

    border-radius: 40px;
    border: 1px solid #7B7A7A;
    background: #1E1E1E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


}

/* Setting Date text */

.currentDate{

    position: relative;
    color: #FFF;
    font-family: "Space Grotesk";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    left: 26px;

}

.currentTime {

    position: relative; 

    top: -65px;
    left: 15px;

    color: #FFF;
    font-family: "Space Mono";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.createNewTimeBtn{

    position: relative;

    top: 105px;
    left: 22px;
    width: 300px;
    height: 100px;

    border-radius: 30px;
    background: #1e1e1e;

    z-index: 3;

}

.createTimeText {

    position: relative;
    left: 63px;
    top: 16px;

    width: 212px;
    height: 74px;

    color: #FFF;
    font-family: "Space Grotesk";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.goBack {

    position: relative;

    top: 105px;
    left: 22px;
    width: 300px;
    height: 100px;

    border-radius: 30px;
    background: #1e1e1e;

    z-index: 3;

}

.goBackText{

    position: relative;
    left: 63px;
    top: 16px;

    width: 182px;
    height: 74px;

    color: #FFF;
    font-family: "Space Grotesk";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}